/* Form.css */
form {
  max-width: 600px; /* Change the max-width value to your desired size */
  margin: 0 auto;
}

/* Style for the form inputs */
.TextField-root {
  margin-bottom: 15px;
}

/* Style for the submit button */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
