/* AddBook.css */
.UpdateBook {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 20px auto;
    max-width: 400px;
  }
  
  .UpdateBook h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .UpdateBook label {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .UpdateBook input,
  .UpdateBook textarea,
  .UpdateBook .MuiInputBase-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .UpdateBook .MuiButton-containedPrimary {
    width: 100%;
  }
  